In [2]:
import numpy as np
import pandas as pd
import os
import pickle

In [3]:
state_purchase_df = pd.read_excel('State Purchases.xlsx')

In [4]:
northeast = ['Connecticut', 'Maine', 'Massachusetts', 'New Hampshire', 'Rhode Island', 'Vermont', 'New Jersey', 'New York', 'Pennsylvania']
midwest = ['Illinois', 'Indiana', 'Michigan', 'Ohio', 'Wisconsin', 'Iowa', 'Kansas', 'Minnesota', 'Missouri', 'Nebraska', 'North Dakota', 'South Dakota']
south = ['Delaware', 'Florida', 'Georgia', 'Maryland', 'North Carolina', 'South Carolina', 'Virginia', 'District of Columbia', 'West Virginia', 'Alabama', 'Kentucky', 'Mississippi', 'Tennessee', 'Arkansas', 'Louisiana', 'Oklahoma', 'Texas']
west = ['Arizona', 'Colorado', 'Idaho', 'Montana', 'Nevada', 'New Mexico', 'Utah', 'Wyoming', 'Alaska', 'California', 'Hawaii', 'Oregon', 'Washington']

In [5]:
state_purchase_df.head()

,State,Weapons Purchase Amount,Tactical Equipment Purchase Amount,Vehicle Purchase Amount,Political Affiliation
0,Missouri,426816.25,1221055.70,2.567322e+07,Republican
1,New Mexico,9417.42,1465109.17,2.351108e+07,Democrat
2,Massachusetts,280203.75,300937.80,7.226124e+06,Democrat
3,Kentucky,873247.06,791622.36,3.381727e+07,Republican
4,California,2940742.92,10648080.72,1.012467e+08,Democrat

In [6]:
max_northeast = 0
northeast_state = ''
for x in northeast:
    state_row = state_purchase_df.loc[state_purchase_df['State'] == x]
    total_spent = state_row['Weapons Purchase Amount'] + state_row['Tactical Equipment Purchase Amount'] + state_row['Vehicle Purchase Amount']
    if float(total_spent) > max_northeast:
        max_northeast= float(total_spent)
        northeast_state = x
print(northeast_state)

New Jersey

In [7]:
max_widwest = 0
midwest_state = ''
for x in midwest:
    state_row = state_purchase_df.loc[state_purchase_df['State'] == x]
    total_spent = state_row['Weapons Purchase Amount'] + state_row['Tactical Equipment Purchase Amount'] + state_row['Vehicle Purchase Amount']
    if float(total_spent) > max_widwest:
        max_widwest= float(total_spent)
        midwest_state = x
print(midwest_state)

Ohio

In [8]:
max_south = 0
south_state = ''
for x in south:
    state_row = state_purchase_df.loc[state_purchase_df['State'] == x]
    total_spent = state_row['Weapons Purchase Amount'] + state_row['Tactical Equipment Purchase Amount'] + state_row['Vehicle Purchase Amount']
    if float(total_spent) > max_south:
        max_south= float(total_spent)
        south_state = x
print(south_state)

Florida

In [9]:
max_west = 0
west_state = ''
for x in west:
    state_row = state_purchase_df.loc[state_purchase_df['State'] == x]
    total_spent = state_row['Weapons Purchase Amount'] + state_row['Tactical Equipment Purchase Amount'] + state_row['Vehicle Purchase Amount']
    if float(total_spent) > max_west:
        max_west= float(total_spent)
        west_state = x
print(west_state)

California

In [10]:
import requests
from bs4 import BeautifulSoup

In [42]:
emptylink = "https://en.wikipedia.org/wiki/{},_New_Jersey"
search = 'Matawan'

page = requests.get(emptylink.format(search))

In [43]:
soup = BeautifulSoup(page.text, 'html5lib')

In [44]:
soup.find('p')

<p><b>Matawan</b> is a <a href="/wiki/Borough_(New_Jersey)" title="Borough (New Jersey)">borough</a> in <a href="/wiki/Monmouth_County,_New_Jersey" title="Monmouth County, New Jersey">Monmouth County</a>, <a href="/wiki/New_Jersey" title="New Jersey">New Jersey</a>, United States. As of the <a href="/wiki/2010_United_States_Census" title="2010 United States Census">2010 United States Census</a>, the borough's population was 8,810,<sup class="reference" id="cite_ref-Census2010_9-1"><a href="#cite_note-Census2010-9">[9]</a></sup><sup class="reference" id="cite_ref-Districts2011_10-1"><a href="#cite_note-Districts2011-10">[10]</a></sup><sup class="reference" id="cite_ref-LWD2010_11-1"><a href="#cite_note-LWD2010-11">[11]</a></sup> reflecting a decline of 100 (-1.1%) from the 8,910 counted in the <a href="/wiki/2000_United_States_Census" title="2000 United States Census">2000 Census</a>, which had in turn declined by 360 (-3.9%) from the 9,270 counted in the <a href="/wiki/1990_United_States_Census" title="1990 United States Census">1990 Census</a>.<sup class="reference" id="cite_ref-20"><a href="#cite_note-20">[20]</a></sup></p>

In [36]:
for x in soup.find_all('span', attrs = {'class': 'P1usbc'}):
    print()
    print(x)
    print()